*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

/* Configurações gerais */

section, .section{
    width: 100%;
}

.section_c, .section_f{
    height: 90px;
}

.max-width{
    width: 1024px;
    margin: 0 auto;
}

.blue-background{
    background-color: rgba(47, 134, 214, 1);
}

.blue-font{
    color: rgba(47, 134, 214, 1);
}

.dark-background{
    background-color: #233032;
}

a{
    text-decoration: none;
}

h4{
    font-size: 32px;
    color: #000000;
    margin: 40px 0 25px;
}

/* Header */

.section_a{
    margin-top: 30px;
    margin-bottom: 30px;
}

.topo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-flow: row nowrap;
}

.logo img{
    width: 60px;
    margin-right: 10px;
}

nav a{
    margin-left: 10px;
    color: #233032;
    font-weight: 600;
}

.logo-text{
    font-size: 14px;
}

h1{
    font-size: 28px;
}

.logo-text p{
    font-weight: 600;
}

/* Section-B */

.section_b{
    padding: 125px 0px;
}

.content-a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.banner img{
    width: 70%;
}

.anuncio-text{
    width: 470px;
    text-align: left;
}

.anuncio-text p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.anuncio-text h2{
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

/* Section-C, Section-F */

.section_c, .section_f{
    display: flex;
    align-items: center;
    padding: 55px 0;
}

.marketing{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.marketing-text{
    color: #fff;
}

.marketing-text h3{
    font-size: 24px;
}

.marketing-text p{
    font-size: 16px;
}

.link-button{
    padding: 15px;
    border-radius: 5px;
}

.link-button a{
    color: #fff;
    font-weight: 650;
}

.link-button a::before{
    content: "000";
    width: 10px;
    height: 10px;
    background-image: url('../assets/icone-foguete.png');
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    background-position: center;
}

/* Section-D */

.section_d{
    text-align: center;
    padding: 30px 0px;
}

.container-cards{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.box-card{
    width: 40%;
    text-align: center;
}

.box-card img{
    width: 40%;
    margin: 10px 0;
}

.box-card h5{
    margin: 10px 0;
}

.box-card p{
    margin: 10px 0;
    font-size: 16px;
    color: #000000;
}

/* Section-E */

.section_e{
    background-color: #f1f3f7;
    padding: 20px 0 70px;
}

table{
    margin: 70px 0 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 40px 15px rgba(47,134,214,1);
}

thead{
    background-color: #fff;
    height: 210px;
}

tbody tr:nth-of-type(odd){
    background-color: #f6f6f6;
}

tbody tr:nth-of-type(even){
    background-color: #fff;
}

th img{
    width: 30%;
    margin: auto;
}

tr{
    height: 40px;
}

th h5{
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

th p{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
    max-width: 150px;
    margin: auto;
}

/* Footer */

.footer{
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 15px;
}

.footer .logo{
    margin: 50px auto;
}

.footer-text p{
    font-weight: 500;
    margin: 0 auto 10px;
}

.assinatura{
    background-color: #f1f3f7;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-weight: 700;
}

.ass{
    color: rgba(47, 134, 214, 1);
}

