*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

/* Configurações gerais */

section, .section{
    width: 100%;
}

.section_c, .section_f{
    height: 90px;
}

.max-width{
    width: 1024px;
    margin: 0 auto;
}

.blue-background{
    background-color: rgba(47, 134, 214, 1);
}

.color-blue{
    color: rgba(47, 134, 214, 1);
}

.dark-background{
    background-color: #233032;
}

a{
    text-decoration: none;
}

/* Header */

.section_a{
    margin-top: 30px;
    margin-bottom: 30px;
}

.topo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-flow: row nowrap;
}

.logo img{
    width: 60px;
    margin-right: 10px;
}

nav a{
    margin-left: 10px;
    color: #233032;
    font-weight: 600;
}

.logo-text{
    font-size: 14px;
}

h1{
    font-size: 28px;
}

.logo-text p{
    font-weight: 600;
}

/* Section-B */

.section_b{
    padding: 125px 0px;
}

.content-a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.banner img{
    width: 70%;
}

.anuncio-text{
    width: 470px;
    text-align: left;
}

.anuncio-text p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.anuncio-text h2{
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
}

/* Section-C, Section-F */

.section_c, .section_f{
    display: flex;
    align-items: center;
    padding: 55px 0;
}

.marketing{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.marketing-text{
    color: #fff;
}

.marketing-text h3{
    font-size: 24px;
}

.marketing-text p{
    font-size: 16px;
}

.link-button{
    padding: 15px;
    border-radius: 5px;
}

.link-button a{
    color: #fff;
    font-weight: 650;
}

.link-button a::before{
    content: "000";
    width: 10px;
    height: 10px;
    background-image: url('../assets/icone-foguete.png');
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0);
    background-position: center;
}

